.show-container {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.show-info {
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.season-desc {
  font-weight: 200;
  margin-bottom: 15px;
}

.main-img {
  max-width: 230px;
  max-height: 295px;
}
