.ep-container {
  display: flex;
}

.ep-image {
  width: 200px;
  height: 150px;
  padding: 10px;
}

.ep-desc {
  padding-left: 10px;
  padding-top: 10px;
}

.ep-info {
  font-weight: 200;
}

.ep-body-text {
  margin-top: 5px;
}